* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body,
.wrap {
  width: 100%;
}
.wrap .header {
  height: 2.08333333rem;
  border-bottom: 0.0462963rem solid #E9E9E9;
}
.wrap .header .head {
  height: 1.02777778rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.37962963rem;
}
.wrap .header .head p {
  font-size: 0.2962963rem;
}
.wrap .header .head input {
  width: 7.19444444rem;
  height: 0.59259259rem;
  background: #EFF2F6;
  border: 0;
  border-radius: 0.27777778rem;
  text-align: center;
}
.wrap .header .head img {
  width: 0.41666667rem;
  height: 0.41666667rem;
}
.wrap .header .nav {
  height: 1.05555556rem;
}
.wrap .header .nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0.68518519rem;
}
.wrap .header .nav ul li {
  font-size: 0.25rem;
  line-height: 1.05555556rem;
}
.wrap .bodyer dl {
  height: 3.62962963rem;
  border-bottom: 0.00925926rem solid #ccc;
  display: flex;
}
.wrap .bodyer dl dt img {
  width: 2.99074074rem;
  height: 2.11111111rem;
  padding-top: 0.2962963rem;
  padding-left: 0.37962963rem;
}
.wrap .bodyer dl dd {
  padding-top: 0.41666667rem;
  padding-left: 0.24074074rem;
}
.wrap .bodyer dl dd h3 {
  font-size: 0.30555556rem;
  font-weight: 800;
}
.wrap .bodyer dl dd p {
  font-size: 0.25925926rem;
  padding-top: 0.23148148rem;
  display: flex;
  justify-content: space-between;
}
.wrap .bodyer dl dd p span:nth-child(2) {
  border: 0.00925926rem solid #FF5F3A;
  color: #FF5F3A;
}
.wrap .bodyer dl dd h5 {
  padding-top: 0.27777778rem;
  font-size: 0.30555556rem;
  font-weight: 800;
  border-bottom: 0.00925926rem solid #ccc;
  color: #FF5F3A;
  padding-bottom: 0.23148148rem;
}
.wrap .bodyer dl dd h5 span {
  font-size: 0.25925926rem;
  font-weight: 400;
  padding-left: 0.18518519rem;
}
.wrap .bodyer dl dd h4 {
  font-size: 0.25rem;
  padding-top: 0.18518519rem;
}
.wrap .bodyer dl dd h4 img {
  width: 1.07407407rem;
  height: 0.35185185rem;
  padding-right: 0.18518519rem;
}
.wrap .bodyer dl dd h4 span {
  color: #FF5F3A;
}
.wrap .footer {
  height: 1.13888889rem;
}
.wrap .footer ul {
  padding-top: 0.17592593rem;
}
.wrap .footer ul li {
  width: 25%;
  float: left;
  font-size: 0.24074074rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #5F6670;
}
.wrap .footer ul li img {
  width: 0.5rem;
  height: 0.52777778rem;
  padding-left: 0.97222222rem;
}
