*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body,.wrap{
    width:100%;
}
.wrap{
    .header{
        height:225/108rem;
        border-bottom:5/108rem solid #E9E9E9;
        .head{
            height:111/108rem;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:0 41/108rem;
            p{
                font-size:32/108rem;
            }
            input{
                width:777/108rem;
                height:64/108rem;
                background:#EFF2F6;
                border:0;
                border-radius:30/108rem;
                text-align: center;
            }
            img{
                width:45/108rem;
                height:45/108rem;
            }
        }
        .nav{
            height:114/108rem;
            ul{
                display:flex;
                justify-content: space-between;
                padding:0 74/108rem;
                li{
                    font-size:27/108rem;
                    line-height: 114/108rem;
                }
            }
        }
    }
    .bodyer{
        dl{
            height:392/108rem;
            border-bottom:1/108rem solid #ccc;
            display:flex;
            dt{
                img{
                    width:323/108rem;
                    height:228/108rem;
                    padding-top:32/108rem;
                    padding-left:41/108rem;
                }
            }
            dd{
               padding-top:45/108rem;
               padding-left:26/108rem;
                h3{
                    font-size:33/108rem;
                    font-weight:800;
                }
                p{
                    font-size:28/108rem;
                    padding-top:25/108rem;
                    display:flex;
                    justify-content: space-between;
                    span:nth-child(2){
                        border:1/108rem solid #FF5F3A;
                        color:#FF5F3A;
                    }
                }
                h5{
                    padding-top:30/108rem;
                    font-size:33/108rem;
                    font-weight:800;
                    border-bottom:1/108rem solid #ccc;
                    color:#FF5F3A;
                    padding-bottom:25/108rem;
                    span{
                        font-size:28/108rem;
                        font-weight:400;
                        padding-left:20/108rem;
                    }
                }
                h4{
                    font-size:27/108rem;
                    padding-top:20/108rem;
                    img{
                        width:116/108rem;
                        height:38/108rem;
                        padding-right:20/108rem;
                    }
                    span{
                        color:#FF5F3A;
                    }
                }
            }
        }
    }
    .footer{
        height:123/108rem;
        ul{
            padding-top:18/108rem;
            li{
                width:25%;
                float: left;
                font-size:26/108rem;
                display:flex;
                flex-direction: column;
                text-align: center;
                color:#5F6670;
                img{
                    width:54/108rem;
                    height:57/108rem;
                    padding-left:105/108rem;
                }
            }
        }
    }
}